<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<div layout:fragment="main-content">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tenant : ${tenants}">

                <td th:text="${tenant.username}"></td>
                <td th:text="${tenant.email}"></td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" th:href="@{'/tenants/tenant/' + ${tenant.userId}} " >Examine</a>

                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>